.App {
  text-align: center;
  margin: 2%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Menu {
  background: rgb(0, 0, 189);
  padding: 50px;
  
}
.Menu nav {
  display: flex;
  justify-content:space-between;
  align-items: center; 
}
.text {
  color:white;
  text-align: left;
  padding-right: 50%;
}
.text h1{
  font-size: 5rem;
}
.text p {
  padding-right: 10%;
}
.square {
  display: flex;
  align-self: start;
  width: fit-content;
  padding-left: 2%;
  padding-right: 2%;
  background: white;
  color: black;
}
.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  width: auto;
}
.Card article {
  
  flex-wrap: wrap;
  text-align: left;
  width: 20%;
  margin-right: 10%;
}